<h1><%= @cocktail.name %> </h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose), method: :delete %></li>
  <% end %>
</ul>
<br>
<h3>Reviews</h3>
<ul>
  <% @cocktail.reviews.each do |review| %>
    <li><%= review.content %>  <%= review.rating %>/5</li>
  <% end %>
</ul>
<br>
<p>
  <h3>Add an ingredient! </h3>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, input_html: { class: 'select2' } %>
    <%= f.input :description, :label => 'Quantity' %>
    <%= f.button :submit, 'Add!', class:"btn btn-primary w-50"%>
  <% end %>
</p>
<p>
  <h3>Add an rating for this cocktail!! </h3>
  <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.input :author, :label => 'Who is talking?' %>
    <%= f.input :rating, :label => 'On five what is this cocktail worth?' %>
    <%= f.input :content, :label => 'Tell us more about it' %>
    <%= f.button :submit, 'Add!', class:"btn btn-primary w-50"%>
  <% end %>
</p>
